*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    font-family: Montserrat,Arial, Helvetica, sans-serif;
    font-size: 13px;
}

header{
    height: 100px;
    background-color:#000;
    color:#fff;
}
.header1{
    max-width: 1140px;
    margin:auto;
    display: flex;
    height: 100px;
    align-items: center;
    
    
}
.logo{
    width:100px;
}
.logoimg{
    height: 80px;
    width: 80px;
    background-color: #b28756;
}
.menu{
    
    flex: 1;
    display: flex;
    justify-content: flex-end;
   
    
}
.menu ul,
.menu li{
    list-style: none;
}
.menu ul{
    display: flex;
}

.menu li a {
    display: flex; 
    align-items: center;
    height: 100px;   
    color: #fff;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 5px solid black;
}

.menu li a:hover,
.menu .active a{
    border-bottom: 5px solid #b28756;
}

    








